*{
    padding: 0%;
    margin: 0%;
}

img{
    height: 250px;
}

p{
    text-align: center;
}

.container{
    background-color: grey;
    text-align: center;
    padding: 10px;
    height: 100vh;
}

#precio, ul, .mb-2, .mb-3{
    text-align: left;
}

